# for library
pandas
numpy
matplotlib
Pillow
torch
git+https://github.com/huggingface/diffusers.git
transformers
accelerate
scipy
OmegaConf
pytorch-lightning
tensorboard
safetensors

# for jupyter code editor
yapf
jupytext
jupyter
PyQt5
ipykernel
ipython
isort
jupyterlab
ipywidgets<8
nbconvert
nbformat
