# for library
pandas
numpy
matplotlib
Pillow
torch
torchvision
git+https://github.com/huggingface/diffusers.git
git+https://github.com/cloneofsimo/lora.git
accelerate
transformers
accelerate
scipy
OmegaConf
pytorch-lightning
tensorboard
safetensors
bitsandbytes
ftfy
gradio

# for jupyter code editor
yapf
jupytext
jupyter
PyQt5
ipykernel
ipython
isort
jupyterlab
ipywidgets<8
nbconvert
nbformat
