# for library
pandas
numpy
Pillow
torch
git+https://github.com/huggingface/diffusers.git
transformers
accelerate
scipy

# for jupyter code editor
yapf
jupytext
jupyter
PyQt5
ipykernel
ipython
isort
jupyterlab
ipywidgets
nbconvert
nbformat
